- menu = 'food.menu.'
- condition = "ready && view === 'menu'"
#menu(:class=`{hideRight: !(${condition}), showRight: ${condition}}`): transition-group(name='fade' tag='ul')
	- displaying = menu + 'displaying'
	- categories = menu + 'categories'
	- preview = menu + 'preview'
	li.portrait(@click=`setView('checkout')` :key='1' v-if=`!${displaying}.length && order.quantity`) Complete Order
	li.portrait(@click='togglePane()' :key='2' v-if=`!${displaying}.length`) Adress, Schedule and more...
	li(@click='goBack()' :key='3' v-if=`${displaying}.length`) Go Back
	li(@click=`selectList(category)` v-for=`category in ${categories}` v-if=`${displaying}.length == 0` :key='category') {{category}}
	li(@click='selectItem(item)' v-for=`item in ${displaying}` :key='item.name') {{item.name}}
#preview(:class=`{hideLeft: !(${condition}), showLeft: ${condition}}`)
	.item(@click="toggleOrder() || pause()")
		- preview = menu + 'preview.'
		.photo: img(:src=`${preview}photo`)
		.content
			.name=`{{${preview}name}}`
			transition(name="fade" v-if='view !== "menu"'): .price=`{{${preview}price}}`
			transition(name="fade" v-if='view === "menu"'): .direction Click to order
			transition(name="fade" v-if=`!${displaying}.length`): .category=`{{${preview}category}}`
